.App {
  text-align: center;
  background-image: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.9)), url("https://ih0.redbubble.net/image.240975429.6826/flat,1000x1000,075,f.u1.jpg");
  background-image: opacity(0.5)
}

.Logo {
  margin-top: 60px;
  margin-bottom: 40px;
}

.h5 {
  font-size: 2.00vh;
  font-weight: bold;
}



.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 15px;
  top: 5px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 15px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
